/* Styles */
.main {
  width: 1440px;
  height: 4673px;
  background-color: #FFFEE5;
  position: relative;
  margin: 0 auto;
}

header {
  width: 1440px;
  height: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #E0E0E0;
}

menu {
  margin-top: 25px;
}
menu ul {
  width: 720px;
  height: 40px;
  margin-left: 650px;
}
menu ul li {
  list-style-type: none;
  display: inline-block;
  border-right: 1px solid #484848;
  padding-right: 20px;
}
menu li:nth-child(4) {
  border-right: 1px solid #E0E0E0;
}
menu a {
  text-decoration: none;
  color: #484848;
  font-size: 17px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation {
  width: 1440px;
  height: 90px;
  position: absolute;
  top: 70px;
  left: 0px;
  background-color: white;
}