/* Styles */


$width_elem:1440px;   
$height:4673px;  
$color_gray:#484848;

.main{width:$width_elem;
height:$height;
background-color:#FFFEE5;
position:relative;
margin:0 auto;
}


/* header */
header{width:$width_elem;
height:70px;
position:absolute;
top:0px;
left:0px;
background-color:#E0E0E0;
}

menu{
margin-top:25px;

 ul {width:calc($width_elem/2);
height:40px;
margin-left:670px;

li{list-style-type:none;
display:inline-block;
border-right:1px solid $color_gray;
padding-right:20px;
}
}
 li:nth-child(4){
border-right:1px solid #E0E0E0;
}

 a{text-decoration:none;
color:$color_gray;
font-size:17px;
margin-left:20px;
text-transform:uppercase;
font-weight:bold;
}
}


/* Block navigation */

.navigation{width:$width_elem;
height:90px;
position:absolute;
top:70px;
left:0px;
background-color:white;

nav{
width:600px;
margin-top:20px;
float:left;}

li{list-style-type:none;
display:inline-block;
}

 a{text-decoration:none;
color:$color_gray;
font-size:20px;
margin-left:60px;
font-style:italic;
font-weight:bold;
}
}


.title_img{float:left;}

.social{
width:480px;
height:40px;
float:left;
margin-left:35px;
margin-top:30px;}

/* Slider */
.slider{
width:$width_elem;
height:calc($width_elem/2);
position:absolute;
top:155px;
left:0px;

img:nth-child(1){
position:absolute;
top:0px;
left:0px;
}

img:nth-child(2){
position:absolute;
top:150px;
left:580px;
}

 img:nth-child(3){
position:absolute;
top:480px;
left:630px;
}
}


/* Block info_support */

.info_support{
width:$width_elem;
heigth:100px;
position:absolute;
top:910px;
left:0px;

img{
float:left;
margin-left:10px;

&:nth-child(1){
margin-left:55px;
}
}
}

/* Block hand_picked */

.hand_picked{
width:calc($width_elem - 70px);
height:100px;
position:absolute;
top:1100px;
left:0px;
margin-left:50px;}